@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  #no-print{
    display: none;
  }
  #print-area{
    display: block;
  }
  body{
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}

@page{
  size: auto;
  margin: 0mm;
}

.rsw-ce ul {
    list-style: disc;
    padding-left: 2em;
  }
  
  .rsw-ce ol {
    list-style: decimal;
    padding-left: 2em;
  }